.Root {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	margin: var(--button-negative-padding);
	padding: var(--button-padding);

	min-width: 120px;
}
