.Root {
	/* стоковую галку убрал */
	appearance: none;
	cursor: pointer;
	transition: all 0.3s ease;

	padding: 7px;
	border-radius: 10px;
	background: #f9f7f4;
	border: 1px solid var(--select-border-color);
	font-size: 16px;

	text-align: center;
}

.Root:hover {
	transform: scale(1.03);
}

.Root:focus {
	border: 1px solid var(--select-focus-border-color);
	outline: none;
}
