body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--button-border-color: #368a6d;

	--button-main-color: #368a6d;
	--button-main-background: #fff;

	--button-hover-color: #368a6d;
	--button-hover-background: #effcf2;

	--button-active-background: #dadbcc;

	--button-padding: 5px;
	--button-negative-padding: -5px;

	--theme-bg: #fff2ec;

	--modal-border-color: rgb(119, 31, 31);
	--modal-content-color: #8c667c;
	--modal-close-button-color: red;
	--modal-title-color: #8c667c;

	--input-border-color: #f4f0e9;
	--input-background-color: #f9f7f4;

	--warning-color: red;

	--header-border-color: #9f9f9f;
	--header-content-color: #8c667c;
	--header-bg-color: #ffeee6;

	--content-bg-color: white;

	--footer-content-color: #8c667c;
	--footer-bg-color: #ffeee6;

	--book-border-color: #eee;
	--book-title-color: #2c293d;
	--book-hover-title-color: #4e4b5f;
}
